@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
/* ---Colors--- */
/* ---Primary--- */
--StrongCyan: hsl(172, 67%, 45%);
/* ---Neutral--- */
--VeryDarkCyan: hsl(183, 100%, 15%);
--DarkGrayishCyan: hsl(186, 14%, 43%);
--GrayishCyan: hsl(184, 14%, 56%);
--LightGrayishCyan: hsl(185, 41%, 84%);
--VeryLightGrayishCyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}
body {
    background-color: var(--LightGrayishCyan);
    font-family:     'Space Mono', monospace;

}
.card {
    margin: 25vh 20vw;
    height: 60vh;
    width: 60vw;
    display: flex;
    background-color: var(--White);
    border-radius: 10px;
}
figure {
    margin: 0vh 45vw;
    position: relative;
    top: 20vh;
}
.calc {
    display: block;
    margin: 1em;
    padding: .5em;
}
.result {
    background-color: var(--VeryDarkCyan);
    margin: 1em;
    padding: .5em;
    border-radius: 10px;
}